android/* linguist-vendored
build/* linguist-vendored
ios/* linguist-vendored
linux/* linguist-vendored
linux/flutter/* linguist-vendored
macos/* linguist-vendored
windows/* linguist-vendored
windows/runner/* linguist-vendored
windows/flutter/* linguist-vendored
web/* linguist-vendored
*.cpp text
*.txt text